/* include: assets/css/sections/global.css */
/* include: assets/css/sections/header.css */
/* include: assets/css/sections/hero.css */
/* include: assets/css/sections/about.css */
/* include: assets/css/sections/resume.css */
/* include: assets/css/sections/skills.css */
/* include: assets/css/sections/projects.css */
/* include: assets/css/sections/portfolio.css */
/* include: assets/css/sections/testimonials.css */
/* include: assets/css/sections/contact.css */
/* include: assets/css/sections/breadcrumbs.css */
/* include: assets/css/sections/footer.css */